<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid p-3">
       <h5 class="text-white">Campsite Booking</h5>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggle">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link fw-bold" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" routerLink="/bookcampsites" routerLinkActive="active">Book Campsites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold me-5" routerLink="/contact" routerLinkActive="active">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>