<section class="container-fluid p-5">
    <div class="row text-center pb-4">
        <div class="col-lg-6 m-auto">
            <h1 class="h1 mb-4 fw-bold text-white">Our Services & Features</h1>
        </div>
    </div>

    <div class="row justify-content-center gy-4">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="services-card shadow text-center p-4 h-100 bg-light rounded">
                <div class="display-5 text-success mb-3">
                    <i class="fa-solid fa-certificate"></i>
                </div>
                <h2 class="h5 fw-semibold">Verified Campsites</h2>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="services-card shadow text-center p-4 h-100 bg-light rounded">
                <div class="display-5 text-success mb-3">
                    <i class="fa-solid fa-shield-heart"></i>
                </div>
                <h2 class="h5 fw-semibold">Safe & Hygienic</h2>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="services-card shadow text-center p-4 h-100 bg-light rounded">
                <div class="display-5 text-success mb-3">
                    <i class="fa-solid fa-headset"></i>
                </div>
                <h2 class="h5 fw-semibold">24/7 Support</h2>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="services-card shadow text-center p-4 h-100 bg-light rounded">
                <div class="display-5 text-success mb-3">
                    <i class="fa-solid fa-calendar-check"></i>
                </div>
                <h2 class="h5 fw-semibold">Easy Booking</h2>
            </div>
        </div>
    </div>
</section>