<div class="container-fluid visit-campsites text-white camping-section py-5">
    <div class="text-center mb-5">
        <img src="Camping.png" class="img-fluid mb-4 p-5" alt="Camp image">
        <h3 class="section-title">TOP CITIES TO VISIT IN INDIA</h3>
    </div>

    <div class="row mb-5 align-items-center">
        <div class="col-md-8 p-5">
            <h3><strong>1. Kullu Manali</strong></h3>
            <p>
                Kullu Manali is one of the best places to visit in India. The Camp Exotica is a perfect weekend getaway
                option located in Kullu in the Manali district of Himachal Pradesh. The location of these tents gives a
                panoramic view of the surrounding mountains. The food provided is of fine quality, and the incredible
                view will simply leave you in awe of this adventure. The spread of lush greenery, the excitement of a stream
                nearby, and the host of thrilling adventures make camping all the more fun. Enjoy the bliss of the
                mountains or try skiing, trekking, rock climbing, river crossing, paragliding, bonfire, and much more.
            </p>
        </div>
        <div class="col-md-4 p-5 text-md-end">
            <img src="kullu manali.png" class="img-fluid camp-img" alt="kullu manali image">
        </div>
    </div>

    <div class="row mb-5 align-items-center flex-md-row-reverse">
        <div class="col-md-8 p-5">
            <h3><strong>2. Dehradun</strong></h3>
            <p>
                Camping in Dehradun offers beautiful surroundings and the best ways to experience lush greenery. Away
                from the hustle and bustle of the city, Dehradun allows you to camp in the lap of mountains and admire the
                flawless panoramic spectacle. There are numerous camps that have been set up with different fine
                amenities. You can experience an unforgettable adventure camping and alpine trek in the Garhwal Himalayas. The
                tranquil ambiance here makes the place perfect for a family vacation.
            </p>
        </div>
        <div class="col-md-4 p-5 text-md-start">
            <img src="Dehradun.png" class="img-fluid camp-img" alt="Dehradun image">
        </div>
    </div>

    <div class="row mb-5 align-items-center">
        <div class="col-md-8 p-5">
            <h3><strong>3. Rishikesh</strong></h3>
            <p>
                When it comes to camping in Rishikesh, the luxury Swiss tent has to be on the list! A perfect camp for
                adventure enthusiasts. Operating with an inventory of 26 units, including 18 luxury Swiss tents and 8
                cemented rooms, this campsite offers a swimming pool and mountain view. Camping in Rishikesh provides a
                comfortable and rejuvenating holiday in the Himalayas, reducing your stress and letting you enjoy the
                freshness of nature under the twinkling stars.
            </p>
        </div>
        <div class="col-md-4 p-5 text-md-end">
            <img src="Rishikesh.png" class="img-fluid camp-img" alt="Rishikesh image">
        </div>
    </div>

    <div class="row mb-5 align-items-center flex-md-row-reverse">
        <div class="col-md-8 p-5">
            <h3><strong>4. Jaisalmer</strong></h3>
            <p>
                The only campsite in the desert among this list of camping destinations in India. You should consider
                camping here only in winter, as this place is extremely hot during summer. An ideal location for an offbeat
                weekend destination, Winds Desert Camp has long been a favorite destination for vacationers looking for a 
                desert camp in Jaisalmer. It provides a high level of hospitality and luxury while remaining easily accessible, 
                only half an hour from both the Jaisalmer Airport and the Jaisalmer Railway Station.
            </p>
        </div>
        <div class="col-md-4 p-5 text-md-start">
            <img src="Jaisalmer.png" class="img-fluid camp-img" alt="Jaisalmer">
        </div>
    </div>
</div>